body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:768px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:768px;
  font-size:18px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:45px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:45px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:150px;
  top:11px;
  width:103px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u6 {
  position:absolute;
  left:1180px;
  top:14px;
  width:15px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8 {
  position:absolute;
  left:1073px;
  top:14px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:345px;
  top:0px;
  width:90px;
  height:45px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:527px;
  top:0px;
  width:90px;
  height:45px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:709px;
  top:0px;
  width:90px;
  height:45px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:891px;
  top:0px;
  width:90px;
  height:45px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:185px;
  top:100px;
  width:980px;
  height:500px;
}
#u19 {
  position:absolute;
  left:2px;
  top:242px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u20 {
  position:absolute;
  left:206px;
  top:119px;
  width:76px;
  height:32px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:933px;
  height:2px;
}
#u22 {
  position:absolute;
  left:206px;
  top:158px;
  width:932px;
  height:1px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-8px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:283px;
  top:248px;
  width:132px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:284px;
  top:294px;
  width:313px;
  height:40px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:284px;
  top:349px;
  width:313px;
  height:40px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:497px;
  top:423px;
  width:100px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
  color:#999999;
}
#u30 {
  position:absolute;
  left:284px;
  top:423px;
  width:81px;
  height:24px;
  font-size:16px;
  text-decoration:underline;
  color:#999999;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:-8px;
  top:-8px;
  width:22px;
  height:310px;
}
#u32 {
  position:absolute;
  left:675px;
  top:218px;
  width:1px;
  height:289px;
}
#u33 {
  position:absolute;
  left:2px;
  top:136px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:215px;
}
#u34 {
  position:absolute;
  left:709px;
  top:248px;
  width:184px;
  height:215px;
}
#u35 {
  position:absolute;
  left:2px;
  top:100px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u36 {
  position:absolute;
  left:943px;
  top:248px;
  width:154px;
  height:147px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-decoration:underline;
  color:#169BD5;
}
#u38 {
  position:absolute;
  left:932px;
  top:429px;
  width:165px;
  height:34px;
  font-size:20px;
  text-decoration:underline;
  color:#169BD5;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
